<div class="container mt-5">
  <div class="card p-4 shadow-lg border-0 rounded-lg">
    <h1 class="mb-4 fw-bold" style="color: #333;">
      <%= action_name == "new" ? "Add a New Flat" : "Edit Flat" %>
    </h1>

    <%= render 'form', flat: @flat %>
  </div>

  <div class="mt-4 d-flex justify-content-end gap-2">
  </div>
</div>
